[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
ipython = "*"
ipykernel = "*"
torchvision = "*"
matplotlib = "*"
tqdm = "*"
opencv-python-headless = "*"
scikit-image = "*"
wget = "*"

[dev-packages]

[requires]
python_version = "3.11"
